@font-face {
	font-family: sans-serif;
	src: url('../fonts/bankgothic.ttf');
}

@font-face {
	font-family: sans-serif;
	src: url('../fonts/pdown.ttf');
}

.menu {
	font-family: sans-serif;
	min-width: 300px;
	color: #fff;
	position: absolute;
}

.menu.align-left {
	left: 40;
	top: 50%;
	transform: translate(0, -50%);
}

.menu.align-top-left {
	left: 40;
	top: 40;
}

.menu.align-top {
	left: 50%;
	top: 40;
	transform: translate(-50%, 0);
}

.menu.align-top-right {
	right: 10;
	top: 40;
}

.menu.align-right {
	right: 40;
	top: 50%;
	transform: translate(0, -50%);
}

.menu.align-bottom-right {
	right: 40;
	bottom: 40;
}

.menu.align-bottom {
	left: 50%;
	bottom: 40;
	transform: translate(-50%, 0);
}

.menu.align-bottom-left {
	left: 40;
	bottom: 40;
}

.menu.align-center {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.menu .head {
	background-color: rgb(25, 25, 25);
	text-align: center;
	height: 40px;
	line-height: 40px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.menu .menu-items {
	max-height: 600px;
	overflow-y: auto;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.menu .menu-items .menu-item {
	height: 40px;
	display: block;
	background-color: rgb(25, 25, 25, 0.9);
	height: 32px;
	line-height: 32px;
	color: white;
	text-align: center;
}

.menu .menu-items .menu-item.selected {
	background-color: rgb(25, 25, 25);
	border-left: 2px solid #00ff1e;
	border-right: 2px solid #00ff1e;
	color: white;
}